input:focus::-webkit-input-placeholder { color:transparent !important; }
input:focus:-moz-placeholder { color:transparent !important; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent !important; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent !important; } /* IE 10+ */

.search-form{
  width: 100vw;
  height: 100vh;
}

.search-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 40% auto;
  padding: 10%;
  border-radius: 25px;
  background-color: rgba(250,250,250, 0.1);
}

.search-form input{
  border: none;
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
  max-width: 80%;
  border-radius: 5px;
  margin-bottom: 1rem;
  background-color: transparent;
  color: rgb(61, 39, 82);
}

.search-form input::placeholder{
  color: rgb(61, 39, 82);  
}

.search-form button{
  border: none;
  background-color: rgb(61, 39, 82);
  color: white;
  padding: 1rem 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
}